  
  
  footer{
        // background: tomato;
        background-image: url("../../assets/images/dark-wood.png");
        background-position: center; 
        background-repeat: repeat; 
        background-size: 512px 512px;
        color: white;
      }



      // <i class="fas fa-phone"></i>
      // <i class="fab fa-facebook-f"></i>
      // <i class="fab fa-twitter"></i> 
      // <i class="fab fa-google-plus-square"></i>
      // <i class="fas fa-envelope"></i>
      // <i class="fas fa-map-marker-alt"></i>
      // <img src="../../assets/images/logos/inhabitent-logo-text-dark.svg">
      
      // <p><span class="copyright">COPYRIGHT © 2019 INHABITENT<span><p>