    .site-content{
        display: flex;
        width: fit-content;
        flex-direction: column;
        margin-left: 35px;
        
    .widget-area{
        width: 415px;
    }

    }

    .contact2{
        background-color: white;
    }
