.singpro{
    display: flex;
    width: fit-content;
 a{
    color:#d99054;
    text-decoration: none;
    font-size: 2.4rem;
}  
img{
    margin-top: 44px;
    margin-left: 100px;
    margin-bottom: 135px;
    width: 80%;
}

.entry-content{
    margin-left: 50px;
}

i{
    color: black;
    font-size: .9rem;
    line-height: 1;
    cursor: pointer;
    padding: .75rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #000;
}

}

.price{
    font-size: 1.8rem;
}